.checkbox{
    display: flex;
    flex-wrap: wrap;

}
.check{
    display: flex;
    flex-direction: column;
    border: 1px solid #D5D9DC;
    padding: 5px 15px;
    margin: 0 10px 15px 0;
    width: calc(100% / 5);
    /*width: 130px;*/
}
.check >label{
    padding-top: 150px;
}