.notes{
    padding: 50px 30px;
}
.note{
    position: relative;
    width: 250px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.note_footer{
    display: flex;
    justify-content: space-between;
}
.note:before{
    content: "\275D";
    position: absolute;
    padding: 0 10px;
    bottom:120px;
    right: 281px;
    background-color: white;
    color: #2696E8;
    font-size: 50px;
}
