.main{
    display: flex;
    flex-direction: column;
    padding: 48px 30px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.contact_input{
    border: none;
    border-bottom: 2px solid #D5D9DC;
    outline: none;
}
.contact_input:focus {
    border-bottom: 2px solid #2696E8;
}
.input_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input_group:focus-within {
    color: #2696E8;
}