.white{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: #A4AEB4;
}
.before_arrow{
    color: #2696E8;
    text-decoration: none;
}
.before_arrow::after{
    content: '\2192';
}