.footer{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;

}
.back_link{
    color: #35A0EE;
    text-decoration: none;
}
.skip_btn{
    padding: 10px 20px;
    border: 1px solid rgba(53, 160, 238, 0.1);
    border-radius: 4px;
    background: rgba(53, 160, 238, 0.1);
    color: #35A0EE;
    font-size: 12px;
    margin-right: 10px;
}
.page_btn{
    background-color: #35A0EE;
    padding: 10px 20px;
    border: 1px solid #35A0EE;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}